<%- title "New Owner" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <%= f.label :username, "*Username: " %>

    <%= f.text_field :username, autofocus: true %>

    <%= f.label :email, "*Email: An email address is required, just in case you need us to reset your password." %>

    <%= f.email_field :email%>


    <% if f.object.password_required? %>

      <%= f.label :password, "*Password: " %>
      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.label :password_confirmation, "*Password, again: " %>

      <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <% end %>

    <section><%= f.submit "Sign Up", class: "button small round"%> or <a href="#" class="button small round" data-reveal-id="omniauth"><%=t(:sign_in_media_link)%></a>
    </section>

  <% end %>

  <%= render "devise/shared/links" %>

<section id="omniauth" class="reveal-modal small" data-reveal>
  <%= render "layouts/omniauthpopup" %>
</section>

<!-- @KL reference the above for modals.  All sections here used to be divs -->
