<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation" class="alert-box alert radius" align="center">
      <h5><%= pluralize(@pet.errors.count, "error") %> prohibited your pet's info from being saved:</h5>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <div class="field">
        <%= f.label :type %>
        <%= f.select :type, options_for_select(["Dog", "Cat", "Bird", "Rabbit"]) %>
      </div>
      <div class="field">
        <%= f.label :gender %>
        <%= f.select :gender, options_for_select(["Male", "Female"]) %>
      </div>

      <br />
      <div class="actions" align="center">
        <%= f.submit "Adopt Pet"%>
      </div>
    </div>
  </div>
<% end %>
