<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation" class="alert-box alert radius" align="center">
      <h5><%= pluralize(@pet.errors.count, "error") %> prohibited your pet's info from being saved:</h5>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% g = PetsHelper::GENDERS.sample %>
<% n = g=="Female" ? (PetsHelper::FEMALE_NAMES + PetsHelper::NEUTRAL_NAMES).sample : (PetsHelper::MALE_NAMES + PetsHelper::NEUTRAL_NAMES).sample %>
<% t = PetsHelper::TYPES.sample %>
<% b = t.constantize::BREEDS.sample %>



<% img_loc = "#{t.downcase}_happy.jpg" %>
<%= image_tag(img_loc, width: "70%") %>
<h5>About this pet:</h5>
Name: <%= n %>
<%= f.hidden_field :name, value: n %>
Species: <%= t %>
<%= f.hidden_field :type, value: t %>
Breed/color: <%= b %>
<%= f.hidden_field :breed, value: b %>
Gender: <%= g %>
<%= f.hidden_field :gender, value: g %>
<%= PetsHelper.generate_story(n,t,g) %>
<%= f.submit "Adopt Pet", class: "button round" %>
<%= link_to "See Another Pet", new_pet_path, class: "button round" %>
<% end %>

