<% @results.each do |pet| %>
	<article class="profile">
	  <%= link_to image_tag(pet.img_loc), user_pet_path(current_user, pet) %>
	  <h5>About <%= pet.name %></h5>
	  Species: <%= pet.type %>
	  Breed/color: <%= pet.breed %>
	  Gender: <%= pet.gender %>
	  <%= link_to "Adopt Pet", pet_adopt_path(pet), method: :patch, class: "btn-profile", data: { confirm: "Adopt #{ pet.name }?" } %>
	</article>
<% end %>

