<% @pets.each do |pet| %>
	<article class="profile">
		<% pet.update_happiness(Time.now) %>
	  <%= link_to image_tag(pet.img_loc), user_pet_path(current_user, pet) %>
	  <h5>About <%= pet.name %></h5>
	  Relinquished By: <%= pet.previous_owner && !ApplicationHelper.obscene_substring?(pet.previous_owner) ? pet.previous_owner : "Animal Control" %><br>
	  Species: <%= pet.type %>
	  Breed/color: <%= pet.breed %>
	  Gender: <%= pet.gender %>
	  <%= link_to "Adopt Pet", pet_adopt_path(pet), method: :patch, class: "btn-profile", data: { confirm: "Adopt #{ pet.name }?" } %>
	</article>
<% end %>



