<% shelter = User.find(1) %>
  <% if shelter.pets.empty? %>
    <h3>The Animal Shelter doesn't currenty have any pets available for browsing.</h3>
  <% else %>
    <% shelter.pets.each do |pet| %>
      <%= link_to image_tag(pet.img_loc), user_pet_path(current_user, pet) %>
        <h5>About <%= pet.name %></h5>
        <strong>Abandoned By:</strong> <%= pet.previous_owner ? pet.previous_owner : "Unknown" %><br>
        Species: <%= pet.type %>
        Breed/color: <%= pet.breed %>
        Gender: <%= pet.gender %>
        <%= button_to "Adopt Pet", pet_adopt_path(pet), method: :patch, class: "button round", data: { confirm: "Adopt #{ pet.name }?" } %>
    <% end %>
<% end %>
