<% @results.each do |pet| %>
	<section class="pet profile shelter">
		<% pet.update_happiness(Time.now) %>
	  <%= link_to image_tag(pet.img_loc), user_pet_path(current_user, pet) %>
	  <h2>About <%= pet.name %></h2>
	  <p>Species: <%= pet.type %></p>
	  <p>Breed: <%= pet.breed %></p>
	  <p>Gender: <%= pet.gender %></p>
	  <%= link_to "Adopt Pet", pet_adopt_path(pet), method: :patch, class: "btn-profile", data: { confirm: "Adopt #{ pet.name }?" } %>
	</section>
<% end %>

