
<% v = @pet.happiness %>
Happiness:
<div class="small-9 column progress round <%= v > 40 ? "" : "alert"%>">
  <span class="meter" style="width:<%=v%>%; text-align:center;"><%=v%></span>
</div>
<% v = @pet.pet_hunger.value %>
Hunger:
<div class="small-9 column progress round <%= v < 60 ? "" : "alert"%>">
  <span class="meter" style="width:<%=v%>%; text-align:center;"><%=v%></span>
</div>
<% v = @pet.pet_tiredness.value %>
Tiredness:
<div class="small-9 column progress round <%= v < 80 ? "" : "alert"%>">
  <span class="meter" style="width:<%=v%>%; text-align:center;"><%=v%></span>
</div>
<% v = @pet.pet_boredom.value %>
Boredom:
<div class="small-9 column progress round <%= v < 50 ? "" : "alert"%>">
  <span class="meter" style="width:<%=v%>%; text-align:center;"><%=v%></span>
</div>
