  <% v = @pet.happiness %>
  
  <div class="<%= v > 40 ? "meter-container-happy":"meter-container-unhappy"%>">
    <div class="<%= v > 40 ? "meter-happy":"meter-unhappy"%>" style="width:<%=v%>%">
      <h2>Happiness</h2>
    </div>
  </div>
  <% v = @pet.pet_hunger.value %>
  <div class="<%= v < 60 ? "meter-container-happy":"meter-container-unhappy"%>">
    <div class="<%= v < 60 ? "meter-happy":"meter-unhappy"%>" style="width:<%=v%>%">
      <h2>Hunger</h2>
    </div>
  </div>
  <% v = @pet.pet_tiredness.value %>
  <div class="<%= v < 80 ? "meter-container-happy":"meter-container-unhappy"%>">
    <div class="<%= v < 80 ? "meter-happy":"meter-unhappy"%>" style="width:<%=v%>%">
      <h2>Tiredness</h2>
    </div>
  </div>
  <% v = @pet.pet_boredom.value %>
  <div class="<%= v < 50 ? "meter-container-happy":"meter-container-unhappy"%>">
    <div class="<%= v < 50 ? "meter-happy":"meter-unhappy"%>" style="width:<%=v%>%">
      <h2>Boredom</h2>
    </div>
  </div>

