<%- title "Animal Shelter" %>

<article class="dashboard">
  <section class="user profile">
   <%= link_to image_tag avatar_url(current_user) %>
   <h3><%= current_user.username %></h3>
   <p>Score: <%= current_user.points %></p>
 	</section>

	<!-- <h4>Browse Pets</h4> -->

	<!-- <section>
		<p>Sort by type:</p>
		<%#= link_to "Dogs", new_pet_path(:type => "Dog") %>
		<%#= link_to "Cats", new_pet_path(:type => "Cat") %>
		<%#= link_to "Birds", new_pet_path(:type => "Bird") %>
		<%#= link_to "Rabbits", new_pet_path(:type => "Rabbit") %>
    <%#= link_to "All", new_pet_path %>
	</section> -->
	<section class="right-columns">

		<section class="pet profile feature">
			<% unless request.url.include? "type"%>
	  	<h4>Featured Pet</h4>
	  	<%= render "randomform" %>
	  	<% end %>
		</section>
    <div id="pets">
		  <%= render "shelterform" unless User.first.id != 1 %>
    </div>
    <%= will_paginate @pets %>
	</section>

	<!-- If the first user isn't Zoobit Shelter, the seed file didn't get loaded correctly-->
	<!-- So far, this is only a problem in the test environment. -->

</article>
