<article class="user-dashboard">
	<%- title "Animal Shelter" %>
	<h4 class="sub-heading">Featured Pet</h4>
	<%= render "randomform" %>
	<h4 class="sub-heading">Browse Pets</h4>
	<section class="sub-heading">
		<p>Sort by type:</p>
		<%= link_to "Dogs", new_pet_path(:type => "Dog") %>
		<%= link_to "Cats", new_pet_path(:type => "Cat") %>
		<%= link_to "Birds", new_pet_path(:type => "Bird") %>
		<%= link_to "Rabbits", new_pet_path(:type => "Rabbit") %>
	</section>
	<%= render "shelterform" unless User.first.id != 1 %>
	<!-- If the first user isn't Zoobit Shelter, the seed file didn't get loaded correctly-->
	<!-- So far, this is only a problem in the test environment. -->
</article>

