<%- title "Animal Shelter" %>

<article class="dashboard">
  <section class="user profile">
  <%= link_to image_tag avatar_url(@user) %>
  <section class="stats">
    <h3><%= @user.username %></h3>
    <p>Score: <%= @user.points %></p>
    <p>Pets: <%= @user.pets.count %>/<%= @user.pet_slots %></p>
    <p><%= @user.created_at.strftime("Joined on: %m/%d/%Y") %></p>
    <p><%= @user.last_sign_in_at.strftime("Last signed in: %m/%d/%Y at %I:%M%p") %></p>

    <% if current_user && current_user.friendships.where(friend_id: @user.id).empty? && current_user != @user %>
      <%= link_to "Add #{@user.username} as a friend", {controller: "friendships", action: "create", user_id: current_user.id, friend_id: @user.id}, method: :post %>
    <% end %>
    <%= render "users/friends" %>
  </section>
</section>

	<!-- <h4>Browse Pets</h4> -->

	<!-- <section>
		<p>Sort by type:</p>
		<%#= link_to "Dogs", new_pet_path(:type => "Dog") %>
		<%#= link_to "Cats", new_pet_path(:type => "Cat") %>
		<%#= link_to "Birds", new_pet_path(:type => "Bird") %>
		<%#= link_to "Rabbits", new_pet_path(:type => "Rabbit") %>
    <%#= link_to "All", new_pet_path %>
	</section> -->
	<section class="right-columns">

		<section class="pet profile feature">
			<% unless request.url.include? "type"%>
	  	<h4>Featured Pet</h4>
	  	<%= render "randomform" %>
	  	<% end %>
		</section>
    <div id="pets">
		  <%= render "shelterform" unless User.first.id != 1 %>
    </div>
    </div class="hide"><%= will_paginate @pets%></div>
	</section>

	<!-- If the first user isn't Zoobit Shelter, the seed file didn't get loaded correctly-->
	<!-- So far, this is only a problem in the test environment. -->

</article>
