<%- title @pet.name %>
<%= image_tag(@pet.img_loc) %>
<h5>About <%= @pet.name %></h5>
Owner: <%= @pet.user.username %>
Species: <%= @pet.type %>
Breed/color: <%= @pet.breed %>
Gender: <%= @pet.gender %>
<%= render "pets/status_bars" %>
<%= link_to "Feed #{@pet.name}", pet_feed_path(@pet), class: "button round"%>
<%= link_to "Play with #{@pet.name}", pet_play_path(@pet), class: "button round" %>
<%= link_to 'Back', user_path(@pet.user), class: "button small round success" %>
