<h1><%= @pet.name %></h2><br>

<h2>About <%= @pet.name %></h2>
<strong>Species:</strong> <%= @pet.type %><br>
<strong>Breed/color:</strong> <%= @pet.breed %><br>
<strong>Gender:</strong> <%= @pet.gender %><br>
<strong>Happiness:</strong> <%= @pet.happiness %><br>

<br>
<%= link_to 'Back', pets_path %>
