  <%- title @pet.name %>
  <article class="dashboard">
    <section class="user profile">
      <%= link_to image_tag avatar_url(current_user) %>
      <h3><%= current_user.username %></h3>
      <p>Score: <%= current_user.points %></p>
    </section>

    <section class="pet view">
      <h1><%= @pet.name %></h1>
      <% if current_user == @pet.user %>
        <%= link_to 'Change Name', edit_pet_path(@pet) %>
      <% end %>
      <%= image_tag(@pet.img_loc) %>
    </section>

    <section class="info-controls">
      <section class="stats profile">
        <%= render "layouts/flash" %>
        <%= render "pets/status_bars" %>
        <p>Breed/color: <%= @pet.breed %></p>
        <p>Gender: <%= @pet.gender %></p>
      </section>
      <sections class="controls ">
        <%= link_to "Feed #{@pet.name}", pet_feed_path(@pet), class: "btn-profile"%>
        <%= link_to "Play with #{@pet.name}", pet_play_path(@pet), class: "btn-profile" %>
        <% if current_user == @pet.user %>
          <%= link_to 'Abandon', pet_path(@pet), method: :delete, data: { confirm: "Leave #{ @pet.name } all alone? You will be fined half of your total points for being an irresponsible owner." } %>
          <% end %>
      </section>
    </section>
  </article>