<%- title @pet.name %>

<div style="height: 75px"></div>
<div style="row">
  <div class="small-4 columns" align="right">
    <div class="row">
      <% happy_value = @pet.happiness < 50 ? "sad" : "happy" %>
      <% @pet.img_loc = "#{@pet.type.downcase}_#{happy_value}.jpg" %>
      <% @pet.save %>
      <%= image_tag(@pet.img_loc, width: "100%") %>
    </div>
  </div>
  <div class="small-5 columns" align="left" style="padding-bottom: 100px">
    <div class="row">
      <div class="callout-panel" align="left">
        <div align="center"><h5><strong>About <%= @pet.name %></strong></h5></div>
        <strong>Species:</strong> <%= @pet.type %><br>
        <strong>Breed/color:</strong> <%= @pet.breed %><br>
        <strong>Gender:</strong> <%= @pet.gender %><br>
        <strong>Happiness:</strong> <%= @pet.happiness %><br>
        <strong>Fullness:</strong> <%= @pet.fullness %><br>
        <strong>Energy:</strong> <%= @pet.energy %><br>
      </div>
    </div>
  </div>
  <br />
  <div class="small-5 columns" align="center">
    <%= link_to 'Feed your pet', pet_feed_path(@pet) %> |
    <%= link_to 'Play with your pet', pet_play_path(@pet) %>
    <br /><br />
    <%= link_to 'Back', pets_path %></div>
  </div>
</div>
