 

<article class="user-dashboard">
  <%- title @pet.name %>
  <section class="profile">
    <h5><%= @pet.name %></h5><% if current_user == @pet.user %>
    <%= link_to 'Change Name', edit_pet_path(@pet) %>

    <%= link_to 'Abandon', pet_path(@pet), method: :delete, data: { confirm: "Leave #{ @pet.name } all alone? You will be fined half of your total points for being an irresponsible owner." } %>
  <% end %>
    <p>Owner: <%= @pet.user.username %></p>
    <p>Species: <%= @pet.type %></p>
    <p>Breed/color: <%= @pet.breed %></p>
    <p>Gender: <%= @pet.gender %></p>
  </section>

  <div class="sandbox">
  <div class="<%= @pet.type %> full-pet">
  	<div class="pet-head">
  		<%= image_tag(@pet.img_loc) %>
  	</div>
  	<div class="pet-body">
  		<%= image_tag(@pet.body_img) %>
  	</div>
  </div>
	</div> 

  <%= render "pets/status_bars" %>
  <%= link_to "Feed #{@pet.name}", pet_feed_path(@pet), class: "btn-profile"%>
  <%= link_to "Play with #{@pet.name}", pet_play_path(@pet), class: "btn-profile" %>
  <% if @pet.user_id == 1 %>
    <%= link_to 'Back', "/shelter", class: "btn-profile" %>
  <% else %>
    <%= link_to 'Back', user_path(@pet.user), class: "btn-profile" %>
  <% end %>
</article>
