<% if @user.pets.empty? %>
    <h3>No pets yet!</h3>
  <% else %>
    <% @user.pets.each do |pet| %>
      <% pet.update_happiness(Time.now) %>
      <% h = pet.happiness.nil? ? 0 : pet.happiness %>
      <section class="pet profile">
        <section class="image">
        <%= link_to image_tag(pet.img_loc), user_pet_path(@user, pet) %>
      </section>
        <!-- @KL the image is not reflecting the happiness status effectively -->
        <section class="stats"><h4><%= link_to pet.name, user_pet_path(@user, pet) %></h4>
          <p><%= pet.type %></p>
          <p><%= pet.breed %></p>
          <p class="<%= pet.pet_hunger.value > 50 ? "hungry":""%>"></p>
          <p class="<%= pet.pet_boredom.value > 50 ? "bored":""%>"></p>
          <div class="<%= h > 40 ? "meter-container-happy":"meter-container-unhappy"%>">
            <div class="<%= h > 40 ? "meter-happy":"meter-unhappy"%>" style="width:<%=h%>%">
              <p><%= h %></p>
            </div>
          </div>
        </section>
        <%= link_to "View Pet", user_pet_path(@user, pet), class: "btn-profile" %>
      </section>
    <% end %>
  <% end %>
