<%- title "#{@user.username}" %>

<h3>About <%= @user.username %></h3>

<%= image_tag avatar_url(@user) %><br>

Score: <%= @user.points %> | Pet slots: <%= @user.pet_slots %><br>
<%= @user.created_at.strftime("Joined on: %m/%d/%Y") %><br>
<%= @user.last_sign_in_at.strftime("Last signed in: %m/%d/%Y at %I:%M%p") %><br><br>
<% if current_user && current_user.friendships.where(friend_id: @user.id).empty? && current_user != @user %>
  <%= link_to "Add #{@user.username} as a friend", {controller: "friendships", action: "create", user_id: current_user.id, friend_id: @user.id}, method: :post %>
<% end %>

<h3><%= @user.username %>'s Pets</h3>
(<%= @user.pets.count %> out of <%= @user.pet_slots %> allowed <%= @user.pet_slots == 1 ? "pet" : "pets" %>.)<br>
<% if @user.pets.empty? %>
  <%= @user.username %> doesn't have any pets!
<% else %>
  <% @user.pets.each do |pet| %>
    <% pet.update_happiness(Time.now) %>
      <div class="row" style="margin-top: .75em">
        <li>
          <div class="small-3 columns" align="center" style="padding-top: .5em"><%= link_to image_tag(pet.img_loc), user_pet_path(@user, pet) %>
          </div>
            <div class="small-9 columns" align="center">
              <div class="callout-panel radius" style="margin-bottom: 1em; padding-bottom: .25em; padding-top: .5em">
                <h4><%= link_to pet.name, user_pet_path(@user, pet) %></h4>
                <% h = pet.happiness.nil? ? 0 : pet.happiness %>
                <div class="progress round small <%= h > 40 ? "":"alert"%>" align="left" style="margin-top: -.5em; margin-bottom: 0em">
                  <span class="meter" style="width:<%=h%>%"></span>
                </div>
              </div>
            </div>
        </li>
      </div>
      <li class="divider"></li>
    <% end %>
<% end %>

<br><br>
Random from <%= @user.username %>'s friends:<br><br>
<% if @user.friendships.empty? %>
  <h3><strong><%= @user.username %> doesn't have any friends!</strong></h3>
<% else %>
  <% random = [] %>
  <% 3.times do %>
    <% random << @user.friendships.sample %>
  <% end %>
  <% random.uniq.each do |friendship| %>
    <% @friend = User.find(friendship.friend_id) %>
    <%= render 'friendships/friend' %><br>
  <% end %>
<% end %>
<%= link_to "See all of #{@user.username}'s friends", user_friends_path(@user) %>
<br><br><br>
