<%- title "Forgot your password?" %>
<article class="profile">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <%= devise_error_messages! %>

    <p><%= f.label :Email %></p>
    <p><%= f.text_field :login, autofocus: true %><p>
    <%= f.submit "Send me reset password instructions", class: "btn-profile" %>

  <% end %>
  <%= render "devise/shared/links" %>
</article>
