<%- title "Welcome to ZooBit!" %>

<div class="medium-9 column" style="margin-top: 3em">
  <div class="row" align="center"><h3>Featured Pet</h3></div>
    <div class="row" align="center" style="padding-bottom: 1 em">
      <% pet = Pet.all.sample %>
      <% while ApplicationHelper.obscene_substring?(pet.name) %>
        <% pet = Pet.all.sample %>
      <% end %>
      <% pet.update_happiness(Time.now) %>
      <%= link_to image_tag(pet.img_loc, width: "300px"), user_pet_path(pet.user, pet) %>
    </div><br>
    <div class="row" align="center" style="padding-bottom: 3em">
      <div class="small-9 columns" style="padding-left: 27%">
        <div class="callout-panel" align="left">
          <div align="center">
            <h5><strong>About <%= pet.name %></strong></h5>
          </div>
          <strong>Owner:</strong> <%= pet.user.username %><br>
          <strong>Species:</strong> <%= pet.type %><br>
          <strong>Breed/color:</strong> <%= pet.breed %><br>
          <strong>Gender:</strong> <%= pet.gender %><br>
        </div>
      </div>
    </div>
  </div>
</div>

