<%- title "Leaderboard" %>

<h1>Most Responsible Owners</h1>
<article class="dashboard">
<% @users = User.all.order(:points).reverse %>
<% @users.each do |user| %>

  <section class="user profile index shelter">
    <%= link_to image_tag avatar_url(user) %>
    <section class="stats">
      <h3>
        <% if ApplicationHelper.obscene_substring?(user.username) %>
          *Censored Username* ( User ID: <%= user.id %> )
        <% else %>
          <%= link_to user.username, user %>
        <% end %>
      </h3>
      <p>Score: <%= user.points %></p>
      <p>Pets: <%= user.pets.count %>/<%= user.pet_slots %></p>
      <p><%= user.created_at.strftime("Joined on: %m/%d/%Y") %></p>
      <p><%= user.last_sign_in_at.strftime("Last signed in: %m/%d/%Y at %I:%M%p") %></p>

      <% if current_user && current_user.friendships.where(friend_id: user.id).empty? && current_user != user %>
        <%= link_to "Add #{user.username} as a friend", {controller: "friendships", action: "create", user_id: current_user.id, friend_id: user.id}, method: :post %>
      <% end %>
    </section>
  </section>
<% end %>
</article>
