<section class="user profile shelter index"><%= link_to image_tag(avatar_url(@friend)), @friend %>
  <section class="stats">
    <%= link_to @friend.username, @friend %>
    <p>Score: <%= @friend.points%></p>
    <p>Pets: <%= @friend.pets.length %></p>
    <p><%= @friend.created_at.strftime("Joined on: %m/%d/%Y") %></p>
    <p><%= @friend.last_sign_in_at.strftime("Last signed in: %m/%d/%Y at %I:%M%p") %></p>
    <%= link_to 'Delete Friendship', user_friend_path(@user.id, Friendship.where(friend_id: @friend.id)[0].id), method: :delete, class: "btn-profile" %>
  </section>
</section>
