<header class="header-main">
  <%= image_tag("barger.svg", width: "30px", class: "header-barger") %>
  <%= link_to image_tag("zoobit-logo.svg", width: "60px"), root_path %>
  <h1 class="header-main-heading">Zoobit</h1>
</header>
<nav id="nav">
  <ul>
    <% if current_user.nil? %>
      <li><%= link_to (raw t(:sign_up_link_html)), new_user_registration_path %></a>
      <li><%= link_to (raw t(:sign_in_link_html)), new_user_session_path  %></li>
    <% else %>
      <li><%= link_to "Adopt a new Pet!", new_pet_path %></li>
      <li><%= link_to (raw t(:sign_out_link_html)), "devise/sessions#destroy", method: :delete %></li>
    <% end %>
    <li><%= link_to "Leaderboard", "/leaderboard" %></li>
  </ul>
</nav>
<h2><%= content_for?(:title) ? yield(:title) : "Zoobit" %></h2>
<!-- Title Bar -->
<%#= render "layouts/flash" %>
