<%= link_to image_tag("zoobit_logo.png", width: "543px"), root_path %>

<h2><%= content_for?(:title) ? yield(:title) : "Zoobit" %></h2>

<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
    <% if current_user.nil? %>
      <li><%= link_to (raw t(:sign_up_link_html)), new_user_registration_path %></li>
      <li><%= link_to (raw t(:sign_in_link_html)), new_user_session_path  %></li>
    <% else %>
      <li><%= link_to "Adopt a new Pet!", new_pet_path %></li>
      <li><%= link_to (raw t(:sign_out_link_html)), destroy_user_session_path, method: :delete %></li>
    <% end %>
    </ul>
  </section>
</nav>
<!-- Title Bar -->
<%= render "layouts/flash" %>
