<div class="sticky">
  <div class="logo-wrapper hide-for-small-only">
    <div class="logo">
      <%= link_to image_tag("button_round_orange.png"), root_path %></a>
    </div>
  </div>

  <div class="panel" style="height:85px">
    <div class="small-9 columns" align="center">
      <h2><%= content_for?(:title) ? yield(:title) : "Zoobit" %></h2>
    </div>
  </div>

  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="left">
      <% if current_user.nil? %>
        <li><%= link_to (raw t(:sign_up_link_html)), new_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to (raw t(:sign_in_link_html)), new_user_session_path  %></li>
        <li class="divider"></li>
      <% else %>
        <li><%= link_to "Adopt a new Pet!", new_pet_path %></li>
        <li class="divider"></li>
        <li><%= link_to (raw t(:sign_out_link_html)), destroy_user_session_path, method: :delete %></li>
        <li class="divider"></li>
      <% end %>
      </ul>
    </section>
  </nav>

  <div class="orange-bar" style="height: 10px"></div>

  <!-- Title Bar -->
  <div class="title-panel"></div>
  <div class="flash-panel" id="flash_notice" align="center">
    <%= render "layouts/flash" %>
  </div>
</div>
