<div class="side-panel" style="height: 1000%">
  <% if current_user.nil? %>
    <div style="padding-left: 115px; margin-bottom: -5px">
      <h3><strong>Your pets go here!</strong></h3>
    </div>
  <% elsif current_user.pets.empty? %>
    <div style="padding-left: 100px; margin-bottom: -5px">
      <h4><strong>You don't have any pets!</strong></h4>
    </div>
  <% else %>
    <div style="padding-left: 100px; margin-bottom: -5px">
      <h3><strong>Current Pets:</strong></h3>
    </div>
  <% end %>
  <ul class="side-nav">
    <li class="divider"></li>
    <% if current_user.nil?  %>
      <div align="center">
        <p><%= link_to 'Sign up', new_user_registration_path %> to adopt a pet!</p>
      </div>
    <% elsif current_user.pets.empty? %>
    <div align="center">
      <p>Adopt a <%= link_to 'New Pet', new_pet_path, id: "newpet" %>?</p>
    </div>
    <% else %>
      <% current_user.pets.each do |pet| %>
        <div class="row">
          <li>
            <div class="small-3 columns" align="center" style="padding-bottom: 7px"><%= link_to image_tag(pet.img_loc, width: "100%"), user_pet_path(current_user, pet) %>
            </div>
              <div class="small-9 columns" align="center">
                <div class="callout-panel radius" style="padding-top: 10px; padding-bottom: 8px;">
                  <h4><%= link_to pet.name, user_pet_path(current_user, pet) %></h4>
                  <% h = pet.happiness.nil? ? 0 : pet.happiness %>
                  <div class="progress round small <%= h > 40 ? "":"alert"%>" align="left">
                    <span class="meter" style="width:<%=h%>%;"></span>
                  </div>
                  <div class="row">
                    <div class="small-6 columns" align="right">
                      <%= link_to 'Change Name', edit_pet_path(pet) %>
                    </div>
                    <div class="small-6 columns" align="left">
                      <%= link_to 'Abandon', pet_path(pet), method: :delete, data: { confirm: "Leave #{ pet.name } all alone?" } %>
                    </div>
                  </div>
                </div>
              </div>
          </li>
        </div>
        <li class="divider"></li>
      <% end %>
    <% end %>
  </ul>
</div>
