<ul class="nav-bar vertical">
  <li class="active"><a href="#">Nav Item 1</a></li>
  <li class="has-flyout">
    <a href="#">Nav Item 2</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><a href="#">Sub Nav Item 1</a></li>
      <li><a href="#">Sub Nav Item 2</a></li>
      <li><a href="#">Sub Nav 3</a></li>
      <li><a href="#">Sub Nav 4</a></li>
      <li><a href="#">Sub Nav Item 5</a></li>
    </ul>
  </li>
  <li class="has-flyout">
    <a href="#">Nav Item 3</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <div class="flyout">
      <h5>Regular Dropdown</h5>
      <div class="row">
        <div class="six columns">
          <p>This is example text. This is example text. This is example text. This is example text. This is example text. This is example text. This is example text. This is example text.</p>
        </div>
        <div class="six columns">
          <p>This is example text. This is example text. This is example text. This is example text. This is example text. This is example text. This is example text. This is example text.</p>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#">Nav Item 4</a>
  </li>
</ul>




<!-- <div class="small-9 columns">
  <nav class="vertical">
    <div class="small-3 columns">
      <% if current_user.nil? %>
        <h3><strong>Your pets go here!</strong></h3>
      <% elsif current_user.pets.empty? %>
        <h3><strong>You don't have any pets!</strong></h3>
        <p> Adopt a <%= link_to 'New Pet', new_pet_path, id: "newpet" %>? </p>
      <% else %>
        <table>
          <tbody>
            <% current_user.pets.each do |pet| %>
              <tr id="<%= dom_id(pet) %>">
                <td><div align="center"><%= link_to image_tag(pet.img_loc, width: '50%'), user_pet_path(current_user, pet) %></a><br />
                  <h4><%= link_to pet.name, user_pet_path(current_user, pet) %></h4></div></td>
                <td><%= link_to 'Change Name', edit_pet_path(pet) %></td>
                <td><%= link_to 'Abandon', pet_path(pet), method: :delete, data: { confirm: "Leave #{ pet.name } all alone?" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </ul>
</div>
 -->
