
<% if current_user.nil? %>
  <h4>Your pets go here!</h4>
  <% elsif current_user.pets.empty? %>
    <h4>You don't have any pets!</h4>
  <% else %>
    <h4>Your Current Pets:</h4>
<% end %>

<ul class="side-nav">
  <% if current_user.nil? %>
    <p><%= link_to 'Sign up', new_user_registration_path %> to adopt a pet!</p>
  <% elsif current_user.pets.empty? %>
    <p>Adopt a <%= link_to 'New Pet', new_pet_path, id: "newpet" %>?</p>
  <% else %>
    <% current_user.pets.each do |pet| %>
      <% pet.update_happiness(Time.now) %>
      <li>
        <%= link_to image_tag(pet.img_loc), user_pet_path(current_user, pet) %>
        <h4><%= link_to pet.name, user_pet_path(current_user, pet) %></h4>
        <% h = pet.happiness.nil? ? 0 : pet.happiness %>
        <section class="progress round small <%= h > 40 ? "":"alert"%>" align="left" style="margin-top: -.5em; margin-bottom: 0em">
          <span class="meter" style="width:<%=h%>%"></span>
        </section>
        <%= link_to 'Change Name', edit_pet_path(pet) %>
        <%= link_to 'Abandon', pet_path(pet), method: :delete, data: { confirm: "Leave #{ pet.name } all alone? You will be fined half of your total points for being an irresponsible owner." } %>
      </li>
      <li class="divider"></li>
    <% end %>
      <p>Adopt a <%= link_to 'New Pet', new_pet_path, id: "newpet" %>?</p>
  <% end %>
</ul>
