<!DOCTYPE html>
<html>
<head>
  <title>Zoobit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <%= render "layouts/signin" %>
    <div id="flash_notice">
      <%= render "layouts/flash" %>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
